body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

#content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 70vh;
}
#mainFrame {
  display: flex;
  width: auto;
  justify-content: center;
  height: 70%;
  padding: 1.5rem 0 1rem 0;
  background-color: azure;
}
.photoSlides {
  width: auto;
  opacity: 50%;
  cursor: pointer;
}
.photoMain {
  display: flex;
  width: auto;
  border-radius: 5px;
  border: 1px cadetblue solid;
  box-shadow: 0 4px 2px -2px gray;
}
#slides {
  display: flex;
  justify-content: center;
  width: auto;
  gap: 0.7rem;
  height: 25%;
  background-color: rgb(206, 248, 249);
  padding: 1rem;
}

#controls {
  height: 5%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.dot {
  height: 0.7rem;
  width: 0.7rem;
  background-color: cadetblue;
  border: 1px none;
  border-radius: 5px;
  cursor: pointer;
}
.clickedDot {
  width: 0.9rem;
  height: 0.9rem;
  background-color: gold;
  border-radius: 8px;
  cursor: pointer;
}

.clickedPic {
  opacity: 100%;
  transition: opacity 300ms ease-in-out;
  transform: scale(1.05);
  box-shadow: 0 4px 2px -2px gray;
}

.btnCarousel {
  font-size: xx-large;
  font-weight: bolder;
  color: grey;
  margin: 0 0.5rem;
  cursor: pointer;
}

.btnCarousel:hover,
.dot:hover {
  color: goldenrod;
  transform: scale(1.3);
}
.photoSlides:hover {
  transform: scale(1.05);
  opacity: 80%;
}
